/*
08/06/2022 - estudos sobre CSS
# identifica o "id" e ele é unico 
*/
#principal{
    color: #32CD32;
    background-color: #A52A2A;
}
#titulo{
    color: #00008B;
}
.vermelho_1{
    color:#800000;
    background-image: url(./background/naruto_logo.png);
    background-position: center;
    background-size:50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*
referente a classes 
. identifica o "class"
*/
.azul_3{
    color:#4682B4;
    background-color: #00CED1;
}
/*background*/
/*background 13/06/2022*/
body{
    /*background-image: url(./background/itashi_uchiha.png);
    background-repeat: no-repeat;
    background-position:initial;
*/
}
/*Estudo sobre a tag DIV 16.06.2022*/
.image1{
    background-image: url(./background/itashi_uchiha.png);
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: center;
    background-attachment:fixed;
    color: #800000;
   

}