/*
08/06/2022 - estudos sobre CSS
# identifica o "id" e ele é unico 
*/
#principal{
    color: #32CD32;
    background-color: #A52A2A;
}
#titulo{
    color: #00008B;
}
.vermelho_1{
    color:#800000;
    background-image: url(./background/naruto_logo.png);
}

/*
referente a classes 
. identifica o "class"
*/
.azul_3{
    color:#4682B4;
}
/*background*/
